.results{
    max-width: 100%;
}

.results-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.results-header-top{
    display: flex;
}

.results-header-top img{
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}

.results-header-top .searchbar .searchbar-input{
    margin: unset;
    width: unset;
    max-width: 630px;
    width: 75vw;
}

.results-header-options{
    display: flex;
    align-items: center;
    color: gray;
    padding-left: 200px;
    overflow-x: auto;
}

.results-header-option{
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.results-header-option p{
    margin-left: 5px;
    color: gray;
}

.tools{
    margin-left: 30px;
}

.results-data{
    max-width: 650px;
    margin-top: 7px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.results-data-stats{
    font-size: 14px;
    color: #70757a;
}

.results-item{
    margin: 25px 0;
}

.results-item-display-link{
    text-decoration: none;
    color: #5a5a5a;
}
.results-item-title{
    text-decoration: none;
}   

.results-item-title h3{
    font-weight: 400;
}

.results-item h2:hover{
    text-decoration: underline;
}

.results-item-desc{
    color: #333333;
}


@media screen and (max-width:900px){
    .results-data{
        max-width: 650px;
        margin-top: 7px;
        margin-left: auto;
        margin-bottom: 100px;
    }

    .results-header-options{
        padding-left: 0;
    }
}

@media screen and (max-width:600px){
    .results-header{
        padding: 20px 5px;
        align-items: center;
        justify-content: center;
    }
    .results-header-top{
        flex-direction: column;
    }

    .results-header-image{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .results-header-image img{
        margin: 0;
    }

    .results-header-options{
        width: 100vw;
    }
}