.searchbar-input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 999px;
    padding: 10px 20px;
    width: 75vw;
    margin: 0 auto;
    height: 22px;
    margin-top: 40px;
    max-width: 600px;
}

.searchbar-input:focus-within, .searchbar-input:hover{
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
}

.searchbar-input input{
    flex: 1;
    padding: 10px 20px;
    border: none;
}

.searchbar-input input:focus{
    outline-width: 0;
}

.searchbar-input .input-icon{
    color: #595959;
    font-size: 20px;
}

.searchbar-buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.searchbar-buttons button{
    margin: 5px;
    padding: 8px 15px;
    font-size: 15px;
    background-color: #f8f9fa;
    border: 1px solid white;
    color: #222;
}

.searchbar-buttons button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    background-color: #f4f4f4;
}

.searchbar-buttons .hidden{
    display: none !important;
}

.remove-icon{
    font-size: 25px;
    font-weight: 300;
    color: #595959;
    border-right: 1px solid #c6c6c6;
    height: 100%;
    margin-right: 10px;
    padding-right: 10px;
    margin-top:-10px;
    margin-bottom: -10px;
    height: calc(100% + 10px);
    cursor: pointer;
}

.input-listening-icon{
    color: red;
}